<!-- -->
<h2>Kontakte anzeigen und bearbeiten</h2>

@for (item of firebaseService.contacts; track $index) {
    <div>
        <input class="contact-card" [(ngModel)]= "item.name" type="text" value="{{ item.name }}">
        <input class="contact-card" [(ngModel)]= "item.mail" type="text" value="{{ item.mail }}">
        <input class="contact-card" [(ngModel)]= "item.phone" type="text" value="{{ item.phone }}">
        <button (click)="saveEditedContactFormToFirebase($index)">Save Contact</button>
        <button (click)="deleteContactFromFirebase($index)">Delete Contact</button>
    </div>
}

<br>

<h2>Kontakte hinzufügen</h2>

<p>Name</p>
<input [(ngModel)]= "name" type="text">
<p>Mail</p>
<input [(ngModel)]= "mail" type="text">
<p>Phone</p>
<input [(ngModel)]= "phone" type="text">
<br>
<br>
<button (click)="addContactFormToFirebase()">Add Contact</button>