<header class="header" role="banner">
  <div class="header-container">
    <p class="title" aria-hidden="true">Kanban Project Management Tool</p>
    <div class="header-icons">
      <button class="btnHelp" aria-label="Hilfe öffnen"></button>
      <button
        class="btnHamburgerMenu"
        aria-label="Open menu"
        aria-haspopup="true"
        [attr.aria-expanded]="menuOpen"
        (click)="toggleMenu()"
      >SM</button>
      <!-- Menü -->
      <div class="menuOpenHamb" *ngIf="menuOpen">
        <button class="btnMenu" (click)="navigateTo('dashboard')">Legal Notice</button>
        <button class="btnMenu" (click)="navigateTo('board')">Privacy Policy</button>
        <button class="btnMenu" (click)="navigateTo('settings')">Log out</button>
      </div>
    </div>
  </div>
</header>
