<div class="contacts-container">
    <div class="contacts-list">

        <div>
            <button class="add-contact-button" (click)="openAddContactDialog()">Add new contact
                <img src="assets/img/contact/person_add.svg" alt="Add Contact" class="add-icon">
            </button>
            @if (showAddContactDialog) {
            <app-add-contact (close)="closeAddContactDialog()" (save)="saveNewContact($event)">
            </app-add-contact>
            }
        </div>

        @for (group of contactGroups; track group.letter) {
        <div class="contact-group">
            <div class="contact-letter">{{ group.letter }}</div>
            <div class="contact-divider"></div>
            @for (contact of group.contacts; track contact.id) {
            <div class="contact-entry">
                <div class="contact-avatar" [style.background-color]="contact.color">
                    {{ contact.initials }}
                </div>
                <div class="contact-info">
                    <div class="contact-name">{{ contact.name }}</div>
                    <div class="contact-email">{{ contact.mail }}</div>
                </div>
            </div>
            }
        </div>
        }
    </div>

    <div class="contacts-details">
        <div class="contacts-title-container">
            <h1 class="contacts-title">Contacts</h1>
            <div class="title-divider"></div>
            <h2 class="contacts-subtitle">Better with a team</h2>
        </div>
        
        @for (contact of contacts; track contact.id) {
            <div class="edit-del-btn">
                <button (click)="openEditContactDialog(contact)">edit</button>
                <button>del</button>
            </div>
        }

        @if (selectedContact) {
            <app-edit-contacts
                [contact]="selectedContact"
                (close)="closeEditContactDialog()"
                (save)="editContact($event)"
                (delete)="deleteContact($event)">
            </app-edit-contacts>
        }
            
    </div>
</div>