<div class="contacts-container">
    <div class="contacts-list">
        <div class="add-button">
            <button class="add-contact-button" (click)="addNewContact()">
                Add new contact
                <img src="assets/img/contact/person_add.svg" alt="Add Contact" class="add-icon">
            </button>
        </div>

        <div *ngFor="let group of contactGroups" class="contact-group">
            <div class="contact-letter">{{ group.letter }}</div>
            <div class="contact-divider"></div>
            <div *ngFor="let contact of group.contacts" class="contact-entry">
                <div class="contact-avatar" [style.background-color]="contact.color">
                    {{ contact.initials }}
                </div>
                <div class="contact-info">
                    <div class="contact-name">{{ contact.name }}</div>
                    <div class="contact-email">{{ contact.email }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="contacts-details">
        <div class="contacts-title-container">
            <h1 class="contacts-title">Contacts</h1>
            <div class="title-divider"></div>
            <h2 class="contacts-subtitle">Better with a team</h2>
        </div>
    </div>
</div>