<div class="contacts-container">

    <div class="contacts-list">

        <div><!-- Shardzil, hier ist der botton für deine addNewContact Funktion-->
            <button class="add-contact-button">Add new contact</button>
        </div>

        <div class="contact-group">
            <div class="contact-letter">A</div>
            <div class="contact-entry">
                <div class="contact-name">Albert</div>
                <div class="contact-email">albert&#64;example3.com</div>
            </div>
        </div>

        <div class="contact-group">
            <div class="contact-letter">E</div>
            <div class="contact-entry">
                <div class="contact-name">Eva</div>
                <div class="contact-email">eva&#64;example2.com</div>
            </div>
        </div>

        <div class="contact-group">
            <div class="contact-letter">F</div>
            <div class="contact-entry">
                <div class="contact-name">Frederick</div>
                <div class="contact-email">Frederick&#64;example1.com</div>
            </div>
        </div>
    </div>




    <div class="contacts-details">
        <h1>Contacts | Better with a team</h1>
    </div>
</div>