<nav class="navbarContainer" role="navigation" aria-label="Hauptnavigation">
  <div class="logoAndMenuEl">
    <div class="logo">
      <img
        class="logoJoin"
        src="../../../assets/imgs/imgs_story1/LogoWhite.png"
        alt="Join Logo"
      />
    </div>

    <div class="menuElements">
      <a
        href="#"
        class="nav-link"
        [ngClass]="{ active: menuItem === 'summary' }"
        (click)="setActiveMenu('summary'); $event.preventDefault()"
      >
        <img
          src="../../../assets/imgs/imgs_story1/Summary.png"
          alt=""
          aria-hidden="true"
        />
        <span>Summary</span>
      </a>

      <a
        href="#"
        class="nav-link"
        [ngClass]="{ active: menuItem === 'addTask' }"
        (click)="setActiveMenu('addTask'); $event.preventDefault()"
      >
        <img
          src="../../../assets/imgs/imgs_story1/addTask.png"
          alt=""
          aria-hidden="true"
        />
        <span>Add Task</span>
      </a>

      <a
        href="#"
        class="nav-link"
        [ngClass]="{ active: menuItem === 'board' }"
        (click)="setActiveMenu('board'); $event.preventDefault()"
      >
        <img
          src="../../../assets/imgs/imgs_story1/Board.png"
          alt=""
          aria-hidden="true"
        />
        <span>Board</span>
      </a>

      <a
        href="#"
        class="nav-link"
        [ngClass]="{ active: menuItem === 'contacts' }"
        (click)="setActiveMenu('contacts'); $event.preventDefault()"
      >
        <img
          src="../../../assets/imgs/imgs_story1/Contacts.png"
          alt=""
          aria-hidden="true"
        />
        <span>Contacts</span>
      </a>
    </div>
  </div>

  <div class="legal">
    <a [ngClass]="{ active: menuItem === 'privacyPolicy' }" 
    (click)="setActiveMenu('privacyPolicy'); $event.preventDefault()"
    href="#" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
    <a [ngClass]="{ active: menuItem === 'legal' }" 
    (click)="setActiveMenu('legal'); $event.preventDefault()"
    href="#" target="_blank" rel="noopener noreferrer">Legal notice</a>
  </div>
</nav>
