@import "../mixins.scss";

app-header {
    width: 100%;
}

.appContainer {
    @include flex-center($align: flex-start);
    width: 100%;
    max-width: 1440px;
}

.headerContentContainer {
    @include flex-center($direction: column, $align: flex-start);
    width: 100%;
}