@import "../../../colors.scss";
@import "../../../fonts.scss";
@import "../../../mixins";

.addTask {
  width: calc(100vw - clamp(180px, 16.1vw, 232px));
  min-height: calc(100dvh - 96px);
  height: 100%;
  background-color: $primary-bg;

  .addTaskMaxWidth {
    @include max-width();
    padding-top: clamp(48px, 5.73vw, 110px);
    padding-left: clamp(16px, 5vw, 96px);
    padding-right: clamp(16px, 7.1vw, 135.75px);

    .addTaskHeader {
      width: 100%;
      padding-bottom: clamp(40px, 2.5vw, 48px);

      .headingAddTask {
        font-size: clamp(47px, 3.18vw, 61px);
      }
    }

    .addTaskContent {
      width: 100%;
      display: flex;
      background-color: rgba(206, 203, 40, 0.503);

      .leftSide {
        flex: 1;
        border-right: 1px solid $border-add-task;
        font-size: clamp(16px, 1.4vw, 27px);

        .requred {
          color: $requred-field;
        }
      }

      .rightSide {
        flex: 1;
        border-left: 1px solid $border-add-task;

      }
    }
  }
}

@media (max-width: 936px) {
  .addTask {
    width: 100%;
  }
}
