$primary-bg:                 #f6f7f8;
$primary-font:               #000000;
$primary-font-transparent:   rgba(0, 0, 0, 0.1);
$secondary-font:             #ffffff;
$darkblue:                   rgb(42, 54, 71);
$darkblue-transparent:       rgba(42, 54, 71, 1);
$deep-space-blue:            rgba(9, 25, 49, 1);
$darkblue-transparent:       rgba(12, 46, 98, 0.12);
$nav-button:                 #cdcdcd;
$privacy-legal:              #a8a8a8;
$email-font:                 #007cee;
$link-font:                  #29abe2;
